.details_card {
  margin: 50px auto;
  width: 80%;
  max-width: 1000px;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 6px 6px 5px #D4A373;
  background-color: #FEFAE0;
  color: #333333
}

.details_card hr {
  height: 1px;
  background-color: rgb(212, 163, 115, 0.5);
  border: none;
  margin-top: 30px;
}

.details_card h3 {
  font-size: 22px;
}

.post {
  padding-bottom: 10px;
}

.post h4 {
  color: #D4A373;
}

.details_card button {
  display: flex;
  margin: auto;
}