.details_card {
  display: flex;
  gap: 5%;
}

.details_card img {
  box-shadow: 2px 2px 8px #D4A373;
  border-radius: 4px;
}

.details_card span {
  color: #D4A373;
  font-weight: 600;
}

@media (max-width: 420px) {
  .details_card {
    flex-direction: column;
  }

  .details_card img {
    width: 150px;
    margin: auto;
  }
}
